@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
#root {
  max-width: 100%;
  margin: 0 auto;
 
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* login form css */
.form-control{
  color: white!important;
}
.Login-Form{
  text-align: left;
}
.login-card{
    height: 100vh;
    width: 100%;
    background-image: url(/images/login-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 

  }
  .glass-card{
    background: rgba(255, 255, 255, 0.9); /* 70% opacity for a subtle glass effect */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  backdrop-filter: blur(8px); /* Frosted glass effect */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Light border with some opacity */
  padding: 20px;
    color: #000;  }
.row{
  flex-direction:column;
}
.column{
  margin-bottom: 20px;

}
.heading{
  margin-top: 30px;
  font-family:Bona Nova SC;
  font-size: 30px;
  font-weight: bold;

}
@media (min-width:992px){
  .navbar-expand-lg{
    flex-wrap:nowrap;
    justify-content:center!important;
  }}


.custom-toggler,.navbar-toggler-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")} ;

  .header-button{
    margin: 7px;
  }
  .navbar-brand{
    width:24.99%;
    text-align: left;
    }
  .basic-navbar-nav{
    width: 74.97%;
    }
  #navbar-menu{
    width:74.97%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #navbar-button{
     width: 24.99%;
     text-align:right;
  }
  #auth-navbar-menu{
    width:66.64%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #auth-navbar-button{
    width: 33.32%;
     text-align:right;
  }
  .card-body{
    text-align: left;
  }


  .card-button{
    background-color: transparent;
    border-radius: 8px;
    border: 3px solid white;
  }
  .card-images{
    border-radius: 20px;
    height:300px;
    object-fit:cover;
    width: 100%;
  }
 
  .row {
    flex-direction: row;
  }
  .column-card{
    width: 30%;
  }
  .bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(0, 0, 0) !important;
  }
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* home page Design*/
.homepage{
  height: 100vh;
  width: 100%;
  background-image: url(/images/home1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex; /* Ensure the container expands to full height */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding-left: 70px;
  padding-right: 70px;
}
.home-heading{
  color: white;
  font-family:Bona Nova SC; 
  
}
.home-title{
  font-size: 50px;
  font-weight: 400;
}
.home-description{
  font-size: 35px;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 768px) {
  .homepage {
    height: 60vh;
  }
  .home-title{
    font-size: 50px;
  }
  .home-description{
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
  
  }
}
@media (max-width: 630px) {
  .home-title{
    font-size: 30px;
  }
  .home-description{
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .homepage {
    height: 50vh;
  }
  .home-title{
    font-size: 18px;
  }
  .home-description{
    font-size: 15px;
  }
}
/* footer css */

li{
  list-style: none;
}
.footer-icon{
  color: yellow;
  margin-right: 10px;
}
.socialmedia-icon{
  color: yellow;
  margin:20px;
}

/* reservation page css */
.reservation-block{
  align-items: center;
  justify-content: center;
  height: 130vh;
    width: 100%;
    background-image: url(/images/reservationwallpaer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    padding-top: 50px;
    padding-bottom: 50px;
}
.input-box{
  border: 2px solid black;
  background-color: transparents;
}

.tour-booking{
  height: auto;
  display: flex;
  justify-content: center;
}
.empty-image{
  height: 40vh;
  width: 100%;
  background-image: url(../public/images/empty.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bookingimage{
  height:400px;
}